[Unit]
Description=tinc vpn
After=network.target

[Service]
Type=forking
PIDFile={{ tinc_pid_path }}
ExecStart={{ tinc_systemd_execstart }}
ExecReload=/usr/bin/kill -HUP $MAINPID
User={{ tinc_user }}
Group={{ tinc_group }}

[Install]
WantedBy=multi-user.target
